.header__user {
    color: white;
    margin: 13px 10px 0 0; 
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: right;

}

@media screen and (min-width: 320px) {
    .header__user {
        margin: 0;
        font-size: 12px;
        text-align: right;
    }
}

@media screen and (min-width: 580px) {
    .header__user {
        font-size: 18px;
        text-align: right;
        margin: 12px 5px 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .header__user {
        font-size: 18px;
        text-align: right;
        margin: 14px 24px 0 0;
    }
}